.fade-in-out {
    width: 500px;
    height: 500px;

    opacity: 1;
    transition: opacity 0.5s ease;
    

}

.fade-in-out:hover {

    cursor: cell;
    opacity: 0;

}

&.escala:hover {
    transform: scale(1.5);

}